<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de Películas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-list>
  <ion-radio-group value="titulo" (ionChange)="onRadioValueChanged($event)">
    <ion-item>
      <ion-label>Título</ion-label>
      <ion-radio slot="start" value="titulo"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Género</ion-label>
      <ion-radio slot="start" value="genero" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Director</ion-label>
      <ion-radio slot="start" value="director" ></ion-radio>
    </ion-item>
  </ion-radio-group>
  </ion-list>

  <ion-input id="filtro" [(ngModel)]="filtro" placeholder="Escribe aquí para buscar..."></ion-input>

  <ion-grid>

    <ion-row *ngIf="criterioFiltro=='titulo'">
      <ng-container *ngFor="let movie of movies | async">
        <ion-col *ngIf="filtro=='' || movie.titulo.startsWith(filtro)" size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <h1>{{ movie.titulo}}</h1>
              <h2><b>Género:</b> {{ movie.genero }}</h2>
              <h2><b>Fecha de estreno: </b>{{ movie.estreno }}</h2>
              <h2><b>Director: </b>{{ movie.director }}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row *ngIf="criterioFiltro=='genero'">
      <ng-container *ngFor="let movie of movies | async">
        <ion-col *ngIf="filtro=='' || movie.genero.startsWith(filtro)" size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <h1>{{ movie.titulo}}</h1>
              <h2><b>Género:</b> {{ movie.genero }}</h2>
              <h2><b>Fecha de estreno: </b>{{ movie.estreno }}</h2>
              <h2><b>Director: </b>{{ movie.director }}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row *ngIf="criterioFiltro=='director'">
      <ng-container *ngFor="let movie of movies | async">
        <ion-col *ngIf="filtro=='' || movie.director.startsWith(filtro)" size-xl="3" size-lg="3" size-md="4" size-sm="6" size-xs="12">
          <ion-card>
            <ion-card-content>
              <h1>{{ movie.titulo}}</h1>
              <h2><b>Género:</b> {{ movie.genero }}</h2>
              <h2><b>Fecha de estreno: </b>{{ movie.estreno }}</h2>
              <h2><b>Director: </b>{{ movie.director }}</h2>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>

  </ion-grid>
</ion-content>